html, body, #root {
    height: 100%;
    text-align: center;
    font-size: x-large;
    
}

a{
    color: black;
}

input,select,button{
    font-size: x-large;
}

form {
    width: 250px;
    text-align: left;
}

form > h2 {
    text-align: center;
}

form > input, form > button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.Box {
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

.Error {
    color: red;
    margin: 0 20px;
    position: absolute;
}


body {
    background: url("./Assets/Imegas/underscored-nationalplanvacationday-lead-vacation-beach-travel.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
